NEXT_PUBLIC_SITE_URL=https://adamovich.eu
NEXT_PUBLIC_BASE_PATH=
NEXT_PUBLIC_DEFAULT_LOCALE=ru
NEXT_PUBLIC_TELEGRAM_BOT_URL=https://t.me/+bXNYZ8mj_mlkNjAy
NEXT_PUBLIC_CONTACT_TELEGRAM=t.me/+bXNYZ8mj_mlkNjAy
NEXT_PUBLIC_AUDIO_APP_URL=
NEXT_PUBLIC_SUPPORT_URL=https://ko-fi.com/alesadamovich
NEXT_PUBLIC_PATREON_URL=https://www.patreon.com/Adamovich
NEXT_PUBLIC_CONTACT_EMAIL=adamovich1926@gmail.com
NEXT_PUBLIC_GA_ID=G-RERHMS54MM
NEXT_PUBLIC_INSTAGRAM_URL=https://www.instagram.com/adamovich.ales
NEXT_PUBLIC_YOUTUBE_URL=https://www.youtube.com/@AdamovichAles
