NEXT_PUBLIC_SITE_URL=https://adamovich.eu
NEXT_PUBLIC_BASE_PATH=
NEXT_PUBLIC_DEFAULT_LOCALE=ru
NEXT_PUBLIC_TELEGRAM_BOT_URL=
NEXT_PUBLIC_AUDIO_APP_URL=
NEXT_PUBLIC_SUPPORT_URL=
NEXT_PUBLIC_CONTACT_EMAIL=adamovich1926@gmail.com
NEXT_PUBLIC_GA_ID=G-RERHMS54MM
